{{ form_start(form) }}

<div class="row">
<div class="col-md-6">

{{ form_label(form.nom, 'Nom Sous Categorie', {'label_attr': {'class': 'form-group'}}) }}

{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
<br>
{{ form_label(form.categorie, 'Nom Categorie', {'label_attr': {'class': 'form-group'}}) }}
{{ form_widget(form.categorie, {'attr': {'class': 'select'}}) }}
</div>
</div>
<br>

 
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
